@font-face {
  font-family: "Lato-Regular";
  src: url("../../public/fonts/lato/Lato-Regular.ttf"); }
@font-face {
  font-family: "Lato-Black";
  src: url("../../public/fonts/lato/Lato-Black.ttf"); }
@font-face {
  font-family: "Lato-Bold";
  src: url("../../public/fonts/lato/Lato-Bold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html{
  height: auto;
  min-height: 100vh;
}

body {
  font-family: "Lato-Regular";
  font-size: 14px;
  margin: 0;
  color: #999;
  background: url("../../public/src/img/form-wizard-bg.jpg") no-repeat center center;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px; }

  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }

  .grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-item {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  text-align: center;
}

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-family: "Lato-Regular";
  font-size: 14px; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer; }
  select option[value=""][disabled] {
    display: none; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

form{
  width: 50%;
}

#table{
  width: auto;
  height: auto;
}
#arrow1, #arrow2 {
  width: 40px;
  height: 20px;
  vertical-align: middle; }

#step1,#step2,#step3{
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.wrapper {
  /* width: 30%;
  height: auto;
  min-height: 100%; */
  /* padding: 63px 90px 0; */
  /* padding: 18px;
  margin: auto;
  border-radius: 20px;
  background: #fff;  */

  width: 100%;
  height:auto;
  max-width:100%;
  max-height:100%;
  min-width: 1024px;
  min-height: 800px;
  padding: 80px;
  border-radius: 20px;
  background: #fff; 
}

.wizard {
  position: relative; }

.steps .current-info, .steps .number {
  display: none; }

.steps ul {
  display: flex;
  justify-content: center;
  margin-bottom: 35px; }
  .steps ul li {
    margin-right: 10.8%;
    position: relative; }
    .steps ul li:last-child {
      margin-right: 0; }
    .steps ul li .step-arrow {
      position: absolute;
      top: 33%;
      left: 113%;
      max-width: 40%; }
    .steps ul li .step-order {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      color: #666;
      margin-top: 14px; }

h3 {
  font-family: "Lato-Black";
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 29px;
  font-weight: 900; }

.form-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .form-row .form-holder {
    width: 70%;
    margin-right: 20px; }
    .form-row .form-holder:last-child {
      margin-right: 0; }
    .form-row .form-holder.w-100 {
      width: 100%;
      margin-right: 0; }
  .form-row .form-group {
    width: 100%;
    display: flex; }
    .form-row .form-group .form-holder {
      margin-right: 21px; }
      .form-row .form-group .form-holder:last-child {
        margin-right: 0; }

        .form-holder {
          position: relative; }
          .form-holder i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 16px; }
            .form-holder i.zmdi-eye {
              cursor: pointer; }
        
        .form-control {
          height: 42px;
          border: 1px solid #e6e6e6;
          width: 100%;
          background: none;
          padding: 0 35px 0 19px;
          color: #999; }
          .form-control:focus {
            border-color: #8eb852; }
          .form-control::-webkit-input-placeholder {
            color: #999; }
          .form-control::-moz-placeholder {
            color: #999; }
          .form-control:-ms-input-placeholder {
            color: #999; }
          .form-control:-moz-placeholder {
            color: #999; }

@media (max-width: 991px) {
  .steps ul li .step-arrow {
    top: 45%;
    left: 102%; }

  .cart_totals {
    width: 74%; } }
@media (max-width: 767px) {
  body {
    background: none;
    height: auto;
    display: block; }

  .steps ul li .step-arrow {
    top: 35%; }

  .wrapper {
    width: auto;
    padding: 0;
    height: auto; }

  .wizard {
    height: auto;
    padding: 40px 20px 20px; }

  .form-row {
    display: block; }
    .form-row .form-holder {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px; }
    .form-row .form-group {
      width: 100%;
      display: block; }

  .actions ul {
    flex-direction: column;
    align-items: flex-end; }
    .actions ul li {
      margin-bottom: 20px; }

  .cart_totals {
    width: 100%; }
    .cart_totals .shipping th, .cart_totals .shipping td {
      display: block;
      text-align: left; }
    .cart_totals td {
      text-align: right; }
    .cart_totals th {
      width: 80%; }

  table.cart th {
    display: none; }
  table.cart td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none; }
    table.cart td:before {
      content: attr(data-title);
      font-weight: 700;
      color: #333; }
  table.cart .product-thumb, table.cart .product-detail, table.cart .product-quantity, table.cart .total-price, table.cart .product-remove {
    width: 100%; }
  table.cart .product-thumb, table.cart .product-remove {
    justify-content: center; }
  table.cart tr:first-child td:last-child {
    padding-bottom: 30px; }
  table.cart tr:last-child td {
    padding-bottom: 13px; }
    table.cart tr:last-child td:first-child {
      padding-top: 30px;
      border-top: 1px solid #e6e6e6; } }
.row{
  flex-wrap:nowrap;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  width: 24px;
  margin:2px;
  position: relative;
}
/* .seat:nth-child(3) {
  margin-right: 14.28571428571429%;
} */
.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.seat input[type=checkbox]:checked + label {
  background: darkgray;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=checkbox]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  color: white;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #53b471;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label.muslim {
  color: white;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: tomato;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label.reservemuslim {
  color: white;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #7f0000;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px tomato;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}